.name{
    font-family:'sans-serif';
    font-size:25px ;
    color:black;
    
    
}.speech{
    
    font-family:'sans-serif';
    font-size:20px ;
    color:black;

}

.direction{
    font-family:'sans-serif';
    font-size:20px ;
    color:black;
    background-color: lightblue;
    

}

p:hover{
    background-color: yellow;
    color:yellowgreen;
}




.dorimene{
color:brown;
}

.monsieur_jourrdain{
color:violet;
}
.dorante{
    color:blue;

}