.name{
    font-family:'sans-serif';
    font-size:15px ;
    color:black;
      
}
.speech{
    
    font-family:'sans-serif';
    font-size:12.5px ;
    color:black;

}

.direction{
    font-family:'sans-serif';
    font-size:12.5px ;
    color:black;
    background-color: lightblue;

}

.direction:hover{
    background-color: yellow;
    color:darkgoldenrod;
}

.dorimene{
color:brown;
}

.monsieur-jourrdain{
color:violet;
}
.dorante{
    color:blue;

}
table{
    border: 1px solid;
    margin: 10px;
    
} 
th{
    text-align: center;
    border: 1px solid;
    color: blueviolet; 
    padding:10px;
    
}
tr:nth-child(even) {
    background-color:goldenrod;
    padding:10px;
    
  }
td
{
    text-align: center;
    border: 1px solid;
    color:blue; 
    padding:10px;
    
}