.speech{
    
    font-family:'sans-serif';
    font-size:9px ;
    color:black;

}

.direction{
    font-family:'sans-serif';
    font-size:9px ;
    color:black;
    background-color: lightblue;
    

}
p:hover{
    background-color: yellow;
    color:yellowgreen;
}


.name{
    font-family:'sans-serif';
    font-size:10px ;
    color:black;
    
}

.dorimene{
color:brown;
}

.monsieur_jourrdain{
color:violet;
}
.dorante{
    color:blue;

}